@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: LogoFont;
  src: url('../../public/fonts/east-bloc/east-bloc-icg-closed.ttf');
}

.remove-arrow::-webkit-inner-spin-button,
.remove-arrow::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.remove-arrow {
  -moz-appearance: textfield;
}
